.nav {
  background-color: red;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* use global() method to allow the NavLink to access active class here. */
.nav :global(.active) {
  background-color: green;
}
